<mat-container fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
    <div
      *ngFor="let news of news"
      class="card"
    >
      <mat-card>
        <div *ngIf="news.image">
          <img
            [src]="apiUrl + '/uploads/' + news.image"
            [alt]="'Photo of' + news.title"
            mat-card-image
          />
        </div>
        <div *ngIf="!news.image">
          <h3>no photo</h3>
        </div>
        <mat-card-title>
          <h2>{{ news.title }}</h2>
        </mat-card-title>
        <br>
        <mat-card-subtitle>
          {{ news.date }}
        </mat-card-subtitle>
        <button mat-raised-button color="primary" [routerLink]="[news.id]">read more>>></button>
        <button mat-raised-button color="warn" (click)="onRemote(news.id)">delete</button>
      </mat-card>
    </div>
  </div>
</mat-container>
