.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 20px;
}

span{
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
}

button{
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;

}

