<div class="form-container">
  <form (ngSubmit)="onSub()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>title</mat-label>
      <input type="text" name="title" matInput required ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>text</mat-label>
      <textarea
        name="text"
        matInput
        required
        ngModel
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || isFetching"
    >
      post
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
  </form>
</div>
