<mat-container fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngIf="news"
    >
      <mat-card class="card">
        <mat-card-title>
          <h1>{{ news.title }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          {{ news.date }}
        </mat-card-subtitle>

        <div *ngIf="news.image">
          <img
            [src]="apiUrl + '/uploads/' + news.image"
            [alt]="'Photo of' + news.title"
            mat-card-image
          />
        </div>
        <div *ngIf="!news.image">
          <h3>no photo</h3>
        </div>
        <mat-card-content>
          <h2>{{ news.text }}</h2>
        </mat-card-content>
        <hr>
      </mat-card>
    </div>
  </div>
</mat-container>

<mat-container fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isFetchingCom"></mat-progress-bar>
    <h1>comments</h1>
    <div
      *ngFor="let com of comment"
    >
      <mat-card class="cardCom">
        <button
          class="link"
          mat-mini-fab
          color="warn"
          (click)="remCom()"
        >
          X
        </button>
        <mat-card-title>
          {{ com.author | anonymous }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ com.date }}
        </mat-card-subtitle>
        <mat-card-content>
          <h2>{{ com.text }}</h2>
        </mat-card-content>
        <mat-progress-bar mode="indeterminate" *ngIf="isFetchingRem"></mat-progress-bar>
        <hr>
      </mat-card>
    </div>
  </div>
</mat-container>

<div class="form-container">
  <form (ngSubmit)="onSubCom()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>author</mat-label>
      <input type="text" name="author" matInput ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>text</mat-label>
      <textarea
        name="text"
        matInput
        required
        ngModel
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
      >
      </textarea>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || isFetching"
    >
      post
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
  </form>
</div>

