mat-container
  width: 100%
  margin: 0 auto

h1
  color: #dd1f58
  text-transform: uppercase
  font-size: 30px
h3
  color: #dd1f58
  text-transform: uppercase
  border: 1px solid white
  display: inline-block
  padding: 5px
.card
  margin-bottom: 50px

.card img
  width: 1000px

.form-container
  width: 50%
  margin: 0 auto
  padding-top: 100px
  padding-bottom: 100px

.cardCom
  margin: 30px
  width: 800px

.link
  margin-bottom: 30px

